/* Contenedor Informacion */

.seccion {
    /* margin: auto; */
    margin-left: 200px;
    width: 50em;
    background: #0081c6;
    padding: 1em 3em;
    border-radius: 2em;
    margin-top: 5%;
    color: white;
}

.seccion > h2 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 2rem;
    margin-top: 1em;
}

.datos {
    padding: 0.5em 2em;
    background: none!important;
    margin: 1.4em auto;
    color: white!important;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.d1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.d1 > p, .d2_info, .d3_info {
    width: 35em;
    padding: 0.4em;
    color: #000;
    background-color: #FFF;
    border-radius: 2em;
    border: none;
}

.d2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

.d2_info{
    width: 20em;
    margin-top: 1rem;
}

.d3_info {
    width: 12em;
    font-size: 14.5px;
    margin-top: 1rem;
}

.d1, .d2, .d3 {
    gap: 1em;
}


.d3 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.datos div {
    margin-bottom: 1em;
}

/* Boton de agregar cambios para administrador */

.btn1 {
    padding: 1em 3em;
    background: #FFF;
    border: none;
    border-radius: 2em;
    color: #0081c6;
    font-weight: bold;
    font-size: 1em;
    transition: .5s ease all;
    margin-bottom: 1em;
}

.btn1:hover {
    background: #7fcdf7;
    cursor: pointer;
    color: white;
}

.contenedorBtn {
    display: flex;
    justify-content: center;
}