main {
    margin-top: 2em;
    padding-left: 200px;
}

/* CONTENEDOR DEL FORMULARIO */

.formulario1 {
    margin: auto;
    width: 50em;
    background: #0081c6;
    padding: 2em 3em;
    border-radius: 3em;
    color: white;
}

form ul {
    margin-left: 3em;
    margin-top: 2em;
}

.d1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d1 input[type="text"] {
    width: 35em;
}

input[type="text"], input[type="date"], input[type="number"] {
    padding: 0.4em;
    border-radius: 2em;
    border: none;
}

.d2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.d2 input[type="text"] {
    width: 20em;
}

.d1, .d2, .d3 {
    gap: 1em;
}

.d3 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.datos div {
    margin-bottom: 1em;
}

/* FORMULARIO DE REGISTRAR PAGO */

form {
    width: 40em;
    margin: auto;
}

form label {
    width: 10em;
    display: inline-block;
    padding-bottom: 1em;
}

form input[type="text"], form input[type="date"], input[type="number"] {
    display: inline-block;
    width: 30em;
}

label.option {
    width: 5em;
    margin-left: 2.5em
}

input.option {
    margin-right: 2.5em;
}

/* BOTON DE REGISTRAR PAGO */

.btn1 {
    padding: 1em 3em;
    background: #FFF;
    border: none;
    border-radius: 2em;
    color: #0081c6;
    font-weight: bold;
    font-size: 1em;
    margin: auto;
    display: block;
    margin-top: 2em;
}

.btn1:hover {
    background: #7fcdf7;
    cursor: pointer;
    color: white;
}

